<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Friends page</title>
    <link href="./styles/friends.css" rel="stylesheet" />    

    <script
      type="module"
      src="./scripts/components/vkf_sort_menu/vkf_sort_menu.js"
    ></script>

    <script
      type="module"
      src="./scripts/components/vkf_hmenu/vkf_hmenu.js"
    ></script>
  </head>
  <body>
    <div class="block-menu">
      <a href="/">HOME</a>
      <div class="counter-block">
        <div class="count-friends">
          <span>All:</span><span class="f-count"><%= count %></span>
        </div>
        <div class="count-loaded-friends">
          <span>Loaded:</span><span class="l-count">0</span>
        </div>
      </div>
      
      <vkf-sort-menu class="sort-menu"> </vkf-sort-menu>
    </div>

    <div class="all-friends"></div>

    


    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>

    <script type="module" src="./scripts/friends.js"></script>
  </body>
</html>
