<div class="card">
  <h4 class="u-name"><%= user.first_name %></h4>
  <img src="<%= user.photo_max_orig %>" />
  <ul>
    <li>Photos: <%= user.counters.photos %></li>
    <li>Friends: <%= user.counters.friends %></li>
  </ul>
</div>
