@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --clr: #222327;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}
.block-menu{
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------*/
.all-friends{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
.card{
    display: flex;
    flex-direction: column;
    width:150px;
    background-color: rgb(250, 250, 250);
    box-shadow: 2px 2px 5px rgb(226, 226, 226);
    border-radius: 10px;
    margin:5px;
}
.card > .u-name{
    color: rgb(119, 91, 91);
}
.card > img{
    width:50%;
    height: 50%;
    margin:0.1em;
    object-fit: cover;
    border-radius: 0.1em;
}