@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --clr: #222327;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}
.block-menu{
    
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-menu .sort-menu{
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 0.4em;
    background: #AFCCCC;
}

/*-----------------------------------*/
.all-friends{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}
.all-friends vkf-user-card{
    border: 1px solid white;
    background: rgb(254, 255, 255);
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: 5px;
}